################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Ignore build output folders in all subdirectories
**/bin/
**/obj/

# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/